<div class="hero">
  <br />
  <div class="frosty col-10 offset-1 text-center">
    <br />
    <h1>Learn Magic from the Pros</h1>
    <br />
    <h2>I'm an illusionist, Michael.</h2>
    <br />
    <%= link_to 'Learn More', '#', class: 'btn btn-success' %>
    <br /><br />
  </div>
</div>

<br />

<div class="row feature text-center">
  <div class="col-12 col-sm">
    <h3>Music</h3>
    <br />
    <p>Under-the-radar originals and covers of your favorites tracks.</p>
  </div>

  <div class="col-12 col-sm">
    <h3>Comedy</h3>
    <br />
    <p>The best new stand-up, sketch and improv.</p>
  </div>

  <div class="col-12 col-sm">
    <h3>Poetry & Prose</h3>
    <br />
    <p>The front page of spoken word.</p>
  </div>
</div>