<div class="hero">
  <br />
  <div class="frosty col-10 offset-1 text-center">
    <br />
    <h1>Learn to Perform</h1>
    <br />
    <h2>Unleash your inner artist</h2>
    <br />
    <%= link_to 'Learn More', '#', class: 'btn btn-success' %>
    <br /><br />
  </div>
</div>

<br />

<div class="row feature text-center">
  <div class="col-12 col-sm">
    <h3>Covers</h3>
    <br />
    <p>Play your favorite songs</p>
  </div>

  <div class="col-12 col-sm">
    <h3>Songwriting</h3>
    <br />
    <p>Craft your own music</p>
  </div>

  <div class="col-12 col-sm">
    <h3>Performance & Recording</h3>
    <br />
    <p>Get your stuff out there and let the world hear it!</p>
  </div>
</div>