<div class="hero">
  <br />
  <div class="frosty col-10 offset-1 text-center">
    <br />
    <h1>Make Beautiful Music</h1>
    <br />
    <h3>Unleash your inner artist</h3>
    <br />
    <%= link_to 'Learn More', courses_path, class: 'btn btn-success' %>
    <br /><br />
  </div>
</div>

<br />

<div class="row feature text-center">
  <div class="col-12 col-sm">
    <h3>Covers</h3>
    <br />
    <p>Play your favorites</p>
    <%= image_tag("covers.jpg", class: 'img-fluid') %>
    <br />
    <br />
  </div>

  <div class="col-12 col-sm">
    <h3>Songwriting</h3>
    <br />
    <p>Craft your own music</p>
    <%= image_tag("songwriting.jpg", class: 'img-fluid') %>
    <br />
    <br />    
  </div>

  <div class="col-12 col-sm">
    <h3>Recording</h3>
    <br />
    <p>Let the world hear it</p>
    <%= image_tag("recording.jpg", class: 'img-fluid') %>
    <br />
    <br />        
  </div>
</div>
